[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
granturismo = {git = "https://github.com/chrshdl/granturismo.git"}
blinkt = "*"
rpi-lgpio = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
