[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
granturismo = {git = "https://github.com/chrshdl/granturismo.git"}
blinkt = "*"

[dev-packages]

[requires]
python_version = "3.9"
